.block-title {
  width: 40%;

  &__img {
    margin-right: 10px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }
  
  &__title {
    color: #0c1742;
    font-family: Poppins-Bold, sans-serif;
    font-size: 29px;

    &--sm {
      color: #697697;
      font-size: 16px;
      line-height: 2;
    }
  }

  &__description {
    padding-top: 25px;
  }
}

@media screen and (max-width: 860px) {
  .block-title {
    width: 100%;
  }
}