.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
  padding-top: 40px;

  &__block {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;

    &:nth-child(4) {
      width: 100%;
    }
  }

  &__inner {
    width: 44%;
  }

  &__select,
  &__input {
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #f5f6fb;
    border-bottom: 1px solid #9fa7bd;
    font-size: 20px;
    outline: none;
    color:#697697;

    &--flex {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -10px;

      & .form__text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 7px;
      }
    }

    &::placeholder {
      color: #697697;
    }
  }

  &__select {

    &:hover {
      cursor: pointer;
    }
  }

  &__select,
  &__input,
  &__label {
    padding: 10px 10px 10px 0;
  }

  &__label {

    &--relative {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 128px;
      width: 128px;
      height: 40px;
      border: 1px solid #9fa7bd;
      border-radius: 6px;
      //margin-left: auto;
      overflow: hidden;
      //text-overflow: ellipsis;
      //text-align: start;

      &:hover {
        cursor: pointer;
        background-color: #edeff7;
        transition: background-color .3s ease;
      }

      & input {
        width: .1px;
        height: .1px;
        opacity: 0;
        position: absolute;
        overflow: hidden;
        z-index: -1;
      }

      & span {
        display: inline-block;
      }
    }
  }

  &__label,
  &__text {
    line-height: 2;
  }

  &__textarea {
    width: 100%;
    background-color: #f5f6fb;
    border-radius: 16px;
    border: 1px solid #9fa7bd;
    margin-top: 40px;
    outline: none;
    padding: 20px;
    font-size: 20px;

    &::placeholder {
      color:#697697;
    }
  }
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 60px 0;
}

@media screen and (max-width: 1080px) {
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .form {

    &__block {
      width: 100%;
    }
  }
}