.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 388px;
  width: 100%;

  &__item {
    & a {
      color: #697697;

      &:hover {
        color: #000000;
        transition: color .3s ease;
      }
    }
  }
}