* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PoppinsRegular", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  color: #697697;
  display: flex;
  background-color: #f5f6fb;
}

@import "_layout";
@import "blocks/_blocks";

@font-face {
  font-family: "PoppinsRegular";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("./fonts/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}